@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ee9255;
  color: #fff;
  line-height: 1.6;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 20px 20px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.intro h1 {
  margin-bottom: 20px;
}

.intro p {
  margin: 10px 0;
}
